<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/layout}">

<head>
    <title>菜单列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="fragments/cssResource :: cssResource"></head>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item ">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/admin/authority/list" class="nav-link active">菜单列表</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/admin/authority/addView" class="nav-link">添加菜单</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
                        class="fa fa-th-large"></i></a>
            </li>
        </ul>
    </nav>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar elevation-4 sidebar-dark-primary">
        <!-- Brand Logo -->
        <a href="../index3.html" class="brand-link">
            <span class="brand-text font-weight-light">管理系统</span>
        </a>

        <!-- Sidebar -->
        <div th:insert="fragments/sideBar2 :: sideBar"></div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <form id="list" class="layui-form">
            <input type="hidden" name="page">
            <input type="hidden" name="pageMax">
            <div class="layui-form-item">
                <div class="layui-inline" style="margin-top: 10px;">
                    <label class="layui-form-label">名字</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="name" th:value="${authority.name}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="margin-top: 10px;">
                    <label class="layui-form-label">url</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" th:value="${authority.url}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="margin-top: 10px;">
                    <button class="btn btn-success" lay-submit=""><i class="fa fa-search"></i>搜索</button>
                </div>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>名字</th>
                                        <th>url</th>
                                        <th>parentId</th>
                                        <th>节点类型</th>
                                        <th>权限别名</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${page.result}">
                                        <td th:text="${item.name}">1</td>
                                        <td th:text="${item.url}">""</td>
                                        <td th:text="${item.parentId}">""</td>
                                        <td th:text="${item.position}=='1' ? '功能节点' : '菜单节点'">""</td>
                                        <td th:text="${item.authorities}">""</td>
                                        <td th:text="${#dates.format(item.createDate,'yyyy-MM-dd HH:mm:ss')}">2</td>
                                        <td th:text="${#dates.format(item.modifyDate,'yyyy-MM-dd HH:mm:ss')}">2</td>
                                        <td>
                                            <div sec:authorize="hasAuthority('admin:authority')">
                                                <a class="btn btn-success btn-sm"
                                                   th:href="@{'/admin/authority/editView?id='+${item.id}}">修改
                                                </a>
                                                <a class="btn  btn-success btn-sm" onclick='deleteById(this);'
                                                   th:attr="name=${item.id}">删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="page-margin" id="page"></div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </form>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<footer th:insert="fragments/jsResource :: jsResource"></footer>
<script>
    $(function () {
        $('#example2').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "autoWidth": false,
            "info": false,
        });
    });
    function deleteById(_this) {
        layer.confirm('确认删除该记录?', {icon: 3, title: '提示'}, function (index) {
            var id = $(_this).attr("name");
            window.location.href = "/admin/authority/delete?id=" + id;
        });
    }
</script>
<script th:inline="javascript">
    //Demo
    layui.use(['form', 'layedit', 'laydate', 'element', 'laypage', 'table', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , element = layui.element
            , laypage = layui.laypage
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table;

        // 分页
        var page = [[${page}]];
        if (page != null && page != '' && page != 'undefinded') {
            //console.log([[${page.pageSize}]]);
            //转换静态表格
            table.init('list', {
                height: 315 //设置高度
                , limit: [[${page.pageSize}]] //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
                //支持所有基础参数
            });
            laypage.render({
                elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                count: [[${page.total}]], //数据总数，从服务端得到
                curr: [[${page.pageNum}]],
                limit: [[${page.pageSize}]],
                layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                jump: function (obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    //console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if (!first) {
                        $("#list").find("input[name='page']").val(obj.curr);
                        $("#list").find("input[name='pageMax']").val(obj.limit);
                        $("#list").submit();
                    }
                }
            });
        }
    });

</script>
</body>
</html>
