<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codegen.modules.dao.SequenceDao">
    <resultMap id="BaseResultMap" type="com.codegen.modules.model.Sequence">
        <id column="ID" property="Id" jdbcType="BIGINT"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="BIGINT" />
        <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
    T.ID,
    T.CREATE_DATE,
    T.MODIFY_DATE,
    T.CREATE_USER_ID,
    T.MODIFY_USER_ID
    </sql>

    <sql id="whereSql">
        <if test="idsMap != null">
            <foreach collection="idsMap.keys" item="key" separator=",">
                and ${key} in
                <foreach item="item" collection="idsMap[key]" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
    </sql>

    <sql id="orderSql">
        <choose>
            <when test="orderByMap != null">
                order by
                <foreach collection="orderByMap.keys" item="key" separator=",">
                ${key} ${orderByMap[key]}
                </foreach>
            </when>
        </choose>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_SEQUENCE T
        where T.ID = #{id, jdbcType=BIGINT}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_SEQUENCE T
        <where>
            <include refid="whereSql"/>
        </where>
        <include refid="orderSql"/>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_SEQUENCE T
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from BID_SEQUENCE
        where ID = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.codegen.modules.model.Sequence" useGeneratedKeys="true" keyProperty="id">


        insert into BID_SEQUENCE (
        CREATE_DATE,
        MODIFY_DATE,
        CREATE_USER_ID,
        MODIFY_USER_ID
        )
        values (
        #{createDate, jdbcType=TIMESTAMP},
        #{modifyDate, jdbcType=TIMESTAMP},
        #{createUserId, jdbcType=VARCHAR},
        #{modifyUserId, jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.codegen.modules.model.Sequence" useGeneratedKeys="true" keyProperty="id">

        insert into BID_SEQUENCE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">
            ID,
            </if>
            <if test="createDate != null">
            CREATE_DATE,
            </if>
            <if test="modifyDate != null">
            MODIFY_DATE,
            </if>
            <if test="createUserId != null">
            CREATE_USER_ID,
            </if>
            <if test="modifyUserId != null">
            MODIFY_USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id != null">
            #{Id, jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
            #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
            #{modifyDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
            #{createUserId, jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null">
            #{modifyUserId, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.codegen.modules.model.Sequence">
        update BID_SEQUENCE
        <set>
            <if test="createDate != null">
            CREATE_DATE= #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
            MODIFY_DATE= #{modifyDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
            CREATE_USER_ID= #{createUserId, jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null">
            MODIFY_USER_ID= #{modifyUserId, jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.codegen.modules.model.Sequence">
        update BID_SEQUENCE
        set
        CREATE_DATE= #{createDate, jdbcType=TIMESTAMP},
        MODIFY_DATE= #{modifyDate, jdbcType=TIMESTAMP},
        CREATE_USER_ID= #{createUserId, jdbcType=VARCHAR},
        MODIFY_USER_ID= #{modifyUserId, jdbcType=VARCHAR}
        where ID = #{id, jdbcType=BIGINT}
    </update>


</mapper>