<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manageSystem.modules.dao.RoleDao">
    <resultMap id="BaseResultMap" type="manageSystem.modules.model.Role">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="IS_SYSTEM" property="isSystem" jdbcType="VARCHAR" />
        <result column="ROLE_TYPE" property="roleType" jdbcType="VARCHAR" />
        <result column="IS_CUSTOM" property="isCustom" jdbcType="VARCHAR" />
        <result column="TOP_USER_ORG_ID" property="topUserOrgId" jdbcType="BIGINT" />
        <result column="IS_CUSTOM_ADMIN" property="isCustomAdmin" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="BIGINT" />
        <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
    T.ID,
    T.NAME,
    T.DESCRIPTION,
    T.IS_SYSTEM,
    T.ROLE_TYPE,
    T.IS_CUSTOM,
    T.TOP_USER_ORG_ID,
    T.IS_CUSTOM_ADMIN,
    T.CREATE_DATE,
    T.MODIFY_DATE,
    T.CREATE_USER_ID,
    T.MODIFY_USER_ID
    </sql>

    <sql id="whereSql">
        <if test="name != null">
            and NAME like CONCAT('%',#{name},'%')
        </if>
        <if test="isSystem != null">
            and IS_SYSTEM = #{isSystem}
        </if>
        <if test="roleType != null">
            and ROLE_TYPE = #{roleType}
        </if>
        <if test="isCustom != null">
            and IS_CUSTOM = #{isCustom}
        </if>
        <if test="topUserOrgId != null">
            and TOP_USER_ORG_ID = #{topUserOrgId}
        </if>
        <if test="isCustomAdmin != null">
            and IS_CUSTOM_ADMIN = #{isCustomAdmin}
        </if>
        <if test="idsMap != null">
            <foreach collection="idsMap.keys" item="key" separator=",">
                and ${key} in
                <foreach item="item" collection="idsMap[key]" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
    </sql>

    <sql id="orderSql">
        <choose>
            <when test="orderByMap != null">
                order by
                <foreach collection="orderByMap.keys" item="key" separator=",">
                ${key} ${orderByMap[key]}
                </foreach>
            </when>
        </choose>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_ROLE T
        where T.ID = #{id, jdbcType=BIGINT}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_ROLE T
        <where>
            <include refid="whereSql"/>
        </where>
        <include refid="orderSql"/>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BID_ROLE T
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from BID_ROLE
        where ID = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="manageSystem.modules.model.Role" useGeneratedKeys="true" keyProperty="id">


        insert into BID_ROLE (
        NAME,
        DESCRIPTION,
        IS_SYSTEM,
        ROLE_TYPE,
        IS_CUSTOM,
        TOP_USER_ORG_ID,
        IS_CUSTOM_ADMIN,
        CREATE_DATE,
        MODIFY_DATE,
        CREATE_USER_ID,
        MODIFY_USER_ID
        )
        values (
        #{name, jdbcType=VARCHAR},
        #{description, jdbcType=VARCHAR},
        #{isSystem, jdbcType=BIT},
        #{roleType, jdbcType=VARCHAR},
        #{isCustom, jdbcType=VARCHAR},
        #{topUserOrgid, jdbcType=BIGINT},
        #{isCustomAdmin, jdbcType=VARCHAR},
        #{createDate, jdbcType=TIMESTAMP},
        #{modifyDate, jdbcType=TIMESTAMP},
        #{createUserid, jdbcType=BIGINT},
        #{modifyUserid, jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="manageSystem.modules.model.Role" useGeneratedKeys="true" keyProperty="id">

        insert into BID_ROLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
            ID,
            </if>
            <if test="name != null">
            NAME,
            </if>
            <if test="description != null">
            DESCRIPTION,
            </if>
            <if test="isSystem != null">
            IS_SYSTEM,
            </if>
            <if test="roleType != null">
            ROLE_TYPE,
            </if>
            <if test="isCustom != null">
            IS_CUSTOM,
            </if>
            <if test="topUserOrgId != null">
            TOP_USER_ORG_ID,
            </if>
            <if test="isCustomAdmin != null">
            IS_CUSTOM_ADMIN,
            </if>
            <if test="createDate != null">
            CREATE_DATE,
            </if>
            <if test="modifyDate != null">
            MODIFY_DATE,
            </if>
            <if test="createUserId != null">
            CREATE_USER_ID,
            </if>
            <if test="modifyUserId != null">
            MODIFY_USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
            #{id, jdbcType=BIGINT},
            </if>
            <if test="name != null">
            #{name, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
            #{description, jdbcType=VARCHAR},
            </if>
            <if test="isSystem != null">
            #{isSystem, jdbcType=BIT},
            </if>
            <if test="roleType != null">
            #{roleType, jdbcType=VARCHAR},
            </if>
            <if test="isCustom != null">
            #{isCustom, jdbcType=VARCHAR},
            </if>
            <if test="topUserOrgId != null">
            #{topUserOrgid, jdbcType=BIGINT},
            </if>
            <if test="isCustomAdmin != null">
            #{isCustomAdmin, jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
            #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
            #{modifyDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
            #{createUserid, jdbcType=BIGINT},
            </if>
            <if test="modifyUserId != null">
            #{modifyUserid, jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="manageSystem.modules.model.Role">
        update BID_ROLE
        <set>
            <if test="name != null">
            NAME= #{name, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
            DESCRIPTION= #{description, jdbcType=VARCHAR},
            </if>
            <if test="isSystem != null">
            IS_SYSTEM= #{isSystem, jdbcType=BIT},
            </if>
            <if test="roleType != null">
            ROLE_TYPE= #{roleType, jdbcType=VARCHAR},
            </if>
            <if test="isCustom != null">
            IS_CUSTOM= #{isCustom, jdbcType=VARCHAR},
            </if>
            <if test="topUserOrgId != null">
            TOP_USER_ORG_ID= #{topUserOrgid, jdbcType=BIGINT},
            </if>
            <if test="isCustomAdmin != null">
            IS_CUSTOM_ADMIN= #{isCustomAdmin, jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
            CREATE_DATE= #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
            MODIFY_DATE= #{modifyDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
            CREATE_USER_ID= #{createUserid, jdbcType=BIGINT},
            </if>
            <if test="modifyUserId != null">
            MODIFY_USER_ID= #{modifyUserid, jdbcType=BIGINT},
            </if>
        </set>
        where ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="manageSystem.modules.model.Role">
        update BID_ROLE
        set
        NAME= #{name, jdbcType=VARCHAR},
        DESCRIPTION= #{description, jdbcType=VARCHAR},
        IS_SYSTEM= #{isSystem, jdbcType=BIT},
        ROLE_TYPE= #{roleType, jdbcType=VARCHAR},
        IS_CUSTOM= #{isCustom, jdbcType=VARCHAR},
        TOP_USER_ORG_ID= #{topUserOrgid, jdbcType=BIGINT},
        IS_CUSTOM_ADMIN= #{isCustomAdmin, jdbcType=VARCHAR},
        CREATE_DATE= #{createDate, jdbcType=TIMESTAMP},
        MODIFY_DATE= #{modifyDate, jdbcType=TIMESTAMP},
        CREATE_USER_ID= #{createUserid, jdbcType=BIGINT},
        MODIFY_USER_ID= #{modifyUserid, jdbcType=BIGINT}
        where ID = #{id, jdbcType=BIGINT}
    </update>


</mapper>