<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div th:fragment="footer">
        <div class="layui-footer footer footer-demo">
            <div class="layui-main">
                <p>© 2018 <a href="/">layui.com</a> MIT license</p>
                <p>
                    <a href="http://fly.layui.com/case/2018/" target="_blank">案例</a>
                    <a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>
                    <a href="javascript:;" onclick="layer.alert('官方邮箱：xianxin@layui-inc.com <br> 客服 Q Q：572691895 <br> 客服微信：layui-kf', {title:'联系', btn: false, shadeClose: true});">联系</a>
                    <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a>
                    <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a>
                    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
                </p>
                <p class="site-union">
                    <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun=""><img src="//res.layui.com//images/other/upyun.png?t=1"></a>
                    <span>提供 CDN 赞助</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

