<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sideBar">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">

            <ul class="layui-nav layui-nav-tree site-demo-nav">

                <li th:each="menu : ${sideMenuList}"
                    class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;"
                       th:href="@{${#strings.isEmpty(menu.url) ? '#' : menu.url}}"
                       th:text="${menu.name}">开发工具</a>
                    <dl class="layui-nav-child" th:if="${not #lists.isEmpty(menu.childMenuList)}">
                        <dd th:each="childMenu : ${menu.childMenuList}">
                            <a href="/demo/"
                               th:href="@{${childMenu.url}}"
                               th:text="${childMenu.name}">调试预览</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item" style="height: 30px; text-align: center"></li>
                <span class="layui-nav-bar" style="top: 232.5px; height: 0px; opacity: 0;"></span></ul>

        </div>
    </div>

    <script th:inline="javascript">
        console.info(window.location.pathname);
        var pathname = window.location.pathname;
        $('a').each(function (index) {
            console.info($(this).attr('href'));
            if($(this).attr('href') == pathname) {
                $(this).parent().addClass('layui-this');
            }
        });
    </script>
</div>
</body>
</html>
<!--<span class="layui-nav-more" th:if="${not #lists.isEmpty(menu.childMenuList)}"></span>-->